@inherits LayoutComponentBase
@using BlazorHelloWorld.Shared.Models
@using BlazorHelloWorld.Shared.Services
@using Microsoft.Extensions.Localization
@using BlazorHelloWorld.Shared
@inject ILocalizationService LocalizationService
@inject IStringLocalizer<App> Localizer
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CultureSelector />
            <CurrencySelector />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@Localizer["About"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string selectedLanguage
    {
        get => LocalizationService.CurrentLanguage;
        set => LocalizationService.SetLanguage(value);
    }
}
