@page "/counter"
@inject CounterState CounterState
@implements IDisposable

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CounterState.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    protected override void OnInitialized()
    {
        CounterState.OnChange += StateHasChanged;
    }

    private void IncrementCount()
    {
        CounterState.IncrementCount();
    }

    public void Dispose()
    {
        CounterState.OnChange -= StateHasChanged;
    }
}
